.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo {
    display: flex;
    width: 95%;
    margin: 1rem 0 0;
    left: 0;
}
.banner {
    font-size: 2em;
    color: var(--blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 2rem;
}
.banner i {
    color: black;
}
.bannerInner {
    max-width: 850px;
}
.banner h1 {
    margin: 1rem 0;
    font-size: 80px;
}
.banner h2{
    margin: 0.3rem 0;
}
.banner p {
    background-color: rgba(255, 255, 255, 0.2);
    width: 80%;
}
.greeting {
    display: flex;
    align-items: flex-end;
}
.img {
    border-radius: 50%;
}
/* image fliping */
.flipContainer {
    perspective: 1000px;
    margin: 0 2rem;
}

.bannerInner:hover .flipper {
    transform: rotateY(180deg);
}

.flipContainer,
.front,
.back {
    width: 80px;
    height: 80px;
}

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.front {
    z-index: 2;
    transform: rotateY(0deg);
}

.back {
    transform: rotateY(180deg);
}
.menu {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
/* .menu a {
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blue);
    font-weight: bold;
    background-color: var(--white);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 20px;
    padding: 1.3rem 2rem;
    width: 80px;
}
.menu a:hover {
    background-color: var(--blue);
    color: var(--white);
} */

/* Animation for automatic flipping */
@keyframes flipAnimation {
    0%, 80%, 100% {
        transform: rotateY(0deg);
    }
    20% {
        transform: rotateY(180deg);
    }
    60% {
        transform: rotateY(180deg);
    }
}

@media (max-width: 820px){
    .greeting {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .banner  h1 {
        font-size: 36px;
    }
    .flipper {
        animation: flipAnimation 10s infinite;
    }
    .banner{
        display: flex;
        flex-direction: column;
        margin: 2rem 1rem;
        text-align: center;
        gap: 0;
    }
}

.box {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}