.workCard {
    background-color: var(--white);
    padding-bottom: 1rem;
    margin: 0.5em;
    border-radius: 50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    color: var(--blue);
    text-align: center;
    width: 300px;
    /* position: relative; */
}
/* @media (prefers-color-scheme: dark) {
    .workCard {
        background-color: var(--gray);
        box-shadow: rgba(95, 100, 105, 0.2) 0px 8px 24px;
    }
} */
.image {
    border-radius: 50px 50px 0 0;
    overflow: hidden;
}
.workCard:hover {
    background-color: var(--blue);
    color: var(--white);
    transition: 0.3s;
}
.tagsContainer {
    width: 250px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2px;
}
.tag p{
    background-color: var(--blue);
    color: var(--white);
    font-size: 12px;
    border-radius: 10px;
    padding: 2px 8px;
    margin: 0;
}
.workCard:hover .tag p{
    background-color: var(--white);
    color: var(--blue);
    transition: 0.3s;
}