.workCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    padding-bottom: 1rem;
    border-radius: 50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    color: var(--blue);
    text-align: center;
    width: 300px;
    height: 400px;
}
.workCard img {
    border-radius: 50px 50px 0 0;
    width: 300px;
    height: 300px;
}
.workCard:hover {
    background-color: var(--blue);
    transition: 0.3s;
}
.workCard:hover h2 {
    color: var(--white);
    transition: 0.3s;
}
.tagsContainer {
    width: 250px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2px;
}
.tag p{
    background-color: var(--blue);
    color: var(--white);
    font-size: 12px;
    border-radius: 10px;
    padding: 2px 8px;
    margin: 0;
}
.workCard:hover .tag p{
    background-color: var(--white);
    color: var(--blue);
    transition: 0.3s;
}
/* mobile */
@media (max-width: 743px){
    .workCard {
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 0;
        width: auto;
        height: 150px;
    }
    .title {
        width: 150px;
        padding: 0 1rem;
    }
    .workCard img {
        border-radius: 50px;
        width: 150px;
        height: 150px;
    }
    .tagsContainer {
        width: 150px;
    }
}