.header {
    width: 100%;
}
.banner {
    font-size: 2em;
    color: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 3rem 0;
}
.img {
    border-radius: 50%;
}
.menu {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.menu a {
    text-decoration: none;
    color: var(--blue);
    font-weight: bold;
    background-color: var(--white);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 20px;
    padding: 1rem 2rem;
}

@media (max-width: 800px){
    /* .header{
        display: flex;
        flex-direction: column;
    } */
}