.box2 {
    background-color: var(--white);
    padding-bottom: 1rem;
    margin: 0.5em;
    border-radius: 50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    color: var(--blue);
    text-align: center;
}
.image {
    border-radius: 50px 50px 0 0;
    overflow: hidden;
}
.box2:hover {
    background-color: var(--blue);
    color: var(--white);
}
.tagsContainer {
    width: 250px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2px;
}
.tag{
    background-color: var(--blue);
    color: var(--white);
    font-size: 8pt;
    border-radius: 10px;
    padding: 2px 8px;
}
.box2:hover .tag{
    background-color: var(--white);
    color: var(--blue);
}