.box {
    background-color: var(--white);
    padding: 3em;
    margin: 0.5em;
    border-radius: 50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
/* @media (prefers-color-scheme: dark) {
    .box {
        background-color: var(--gray);
        box-shadow: rgba(95, 100, 105, 0.2) 0px 8px 24px;
    }
} */

@media (max-width: 820px){
    .box {
        padding: 1em;
    }
}