:root {
  --orange: #FF5714;
  --light-orange: rgba(255, 87, 20, 0.5);
  --blue: #7F96FF;
  --white: #fff;
  --light-yellow: #FFF6E5;
  --text: #5e5e83;
  color: var(--blue);
}

body {
  margin: 0;
  background-image: 
    linear-gradient(to right, var(--light-orange) 1px, transparent 1px),
    linear-gradient(to bottom, var(--light-orange) 1px, transparent 1px);
  background-size: 2em 2em;
  background-color: var(--white);
}
h1 {
  font-size: 64px;
}
h2 {
  font-size: px;
}
p {
  color: var(--text);
  font-size: 16px;
}
@media (max-width: 820px){
  h1 {
    font-size: 36px;
  }
  p {
    font-size: 14px;
  }
}