:root {
  --orange: #FF5714;
  --light-orange: rgba(255, 87, 20, 0.5);
  --blue: #7F96FF;
  --white: #fff;
  --light-yellow: #FFF6E5;
  --text: #5e5e83;
  color: #5e5e83;

  --medium-font: 20px;
}

body {
  margin: 0;
  background-image: 
    linear-gradient(to right, var(--light-orange) 1px, transparent 1px),
    linear-gradient(to bottom, var(--light-orange) 1px, transparent 1px);
  background-size: 2em 2em;
  background-color: #FFF6E5;
}

p {
  font-size: 16px;
}