.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  /* background */
  background-image: 
    linear-gradient(to right, var(--light-orange) 1px, transparent 1px),
    linear-gradient(to bottom, var(--light-orange) 1px, transparent 1px);
  background-size: 2em 2em;
  width: 100%;
}
.header {
  width: 70%;
}
.outerContainer {
  display: flex;
  width: 70%;
  justify-content: center;
  margin: 2em auto;
}
.box1 {
  flex: 1;
  flex-basis: 60%;
}
.box2 {
  flex: 1;
  flex-basis: 40%;
}
.link {
  text-decoration: none;
  color: var(--text);
  display: flex;
  align-items: center;
  gap: 1rem;
}
.logo {
  fill: var(--blue);
}
.skill {
  display: flex;
  gap: 1rem;
}
.footer {
  margin: 2rem;
}
/* mobile */
/* @media (max-width: 800px){

} */
