.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}
.header {
  width: 70%;
}
.outerContainer {
  display: flex;
  width: 70%;
  justify-content: center;
  margin: 2em auto;
}
.box1 {
  flex: 1;
  flex-basis: 60%;
}
.box2 {
  flex: 1;
  flex-basis: 40%;
}
.link {
  text-decoration: none;
  color: var(--text);
  display: flex;
  align-items: center;
  gap: 1rem;
}
.logo {
  fill: var(--blue);
}
.skill {
  display: flex;
  gap: 1rem;
}
.footer {
  margin: 2rem;
}
.works {
  margin: 2rem;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.logoContainer {
  display: flex;
  flex-direction: column;
  color: ;
}
.logoInner{
  display: flex;
  justify-content: space-evenly;
}
/* mobile */
/* @media (max-width: 800px){

} */
