.thumbnail {
    position: relative;
    transition: 0.3s ease;
    width: 100%;
}
.thumbnail:hover {
    cursor: pointer;
    transform: translate(-3px, -3px);
}
.fullscreenOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
}
.fullscreenOverlayImage {
    height: 90%;
    object-fit: contain;
    max-width: 90%;
    max-height: 90%;
}
.closeButton {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    color: var(--white);
    border: none;
    font-size: 36px;
    cursor: pointer;
}