.box2 {
    /* background-color: var(--white); */
    background-color: var(--light-yellow);
    padding-bottom: 1rem;
    margin: 0.5em;
    border-radius: 50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}