/* Common styles for Works page -> */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 70%;
  max-width: 1440px;
  margin: 2rem auto;
}
/* mobile */
@media (max-width: 820px){
  .container {
    width: 90%;
  }
}
/* <- Common styles for Works page */

.textContainer {
  max-width: 700px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.textContainer ul {
  margin: 0;
}
.textColumns {
  display: flex;
  gap: 2rem;
}
.imageSection {
  margin: 6rem 0;
}
.imageSection img {
    width: 100%;
}
.videoSection p{
  max-width: 700px;
  margin: 2rem auto 0;
}
.videoSection video {
  margin: 2rem auto;
}
.container span {
    background: linear-gradient(
        to bottom,
        transparent 30%,
        #d0b127a2 50%
        );
    }
/* mobile */
@media (max-width: 820px){
  .textColumns {
  display: flex;
  flex-direction: column;
  gap: 0rem;
}
}