:root {
  --orange: #ff6f26;
  --light-orange: #ff6e266d;
  --blue: #006afe;
  --white: #fffdfa;
  --light-yellow: #d0b12724;
  --yellow: #d0b227;
  --text: #282828;
  --dark-gray: #23212b;
  --gray: rgb(52, 50, 63);
  color: var(--blue);
}

body {
  margin: 0;
  background-image: 
    linear-gradient(to right, var(--light-orange) 1px, transparent 1px),
    linear-gradient(to bottom, var(--light-orange) 1px, transparent 1px);
  background-size: 2em 2em;
  background-color: var(--white);
  /* cursor: none; */
}
h1, h2, h3, a {
  font-family: "unbounded", sans-serif;
  font-weight: 500;
  font-style: normal;
}
h1 {
  font-size: 64px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
}
p, li {
  color: var(--text);
  font-size: 18px;
  font-family: "futura", sans-serif;
  font-weight: 400;
  font-style: normal;
}
a {
  /* cursor: none; */
  text-decoration: none;
  color: var(--blue);
}
.custom-cursor {
  position: fixed;
  width: 30px; 
  height: 30px; 
  background-color: var(--yellow); 
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: background-color 0.2s;
}
  /* @media (prefers-color-scheme: dark) {
    body {
      background-color: var(--dark-gray);
      background-image: 
      linear-gradient(to right, #e6f5991f 1px, transparent 1px),
      linear-gradient(to bottom, #e6f5991f 1px, transparent 1px);
  }
  p {
    color: var(--white);
  }
} */

@media (max-width: 820px){
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 20px;
  }
  h6 {
    font-size: 16px;
  }
  p, li {
    font-size: 14px;
  }
  .custom-cursor {
    display: none;
  }
}