.imagesOuterContainer {
    width: 80%;
    margin: 0 auto;
    display: flex;
    gap: 3rem;
}  
.imagesOuterContainer > div {
    flex: 1;
}
.leftContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.rightContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
/* Mobile */
@media (max-width: 820px){
    .imagesOuterContainer {
        gap: 1rem;
    }  
}