/* Common styles for Works page -> */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 70%;
  max-width: 1000px;
  margin: 2rem auto;
}
/* mobile */
@media (max-width: 820px){
  .container {
    width: 90%;
  }
}
/* <- Common styles for Works page */

.container h2 {
  border-bottom: 1px solid var(--blue);
  padding: 1rem;
}
.innerContainer {
  width: 100%;
}
.banner img{
  width: 100%;
  margin: 0 auto;
}
.section {
  margin: 4rem 0;
}
.smallSection {
  margin: 2rem 0;
}
.businessCard img{
  width: 100%;
}
.logoSketches img{
  width: 100%;
  border-radius: 20px;
  border: 1px solid var(--blue);
  margin: 1rem auto;
}
.logoInner {
  width: 80%;
  margin: 3rem auto;
  border-radius: 20px;
  border: 1px solid var(--blue);
}
.finalLogo {
  display: block;
  width: 30%;
  margin: 3rem auto;
}
.adIdeas {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;
  gap: 4rem;
}
.ads {
    display: flex;
    justify-content: center;
    background-color: #F3F0E7;
    border-radius: 20px;
    padding: 2rem 2rem;
    margin: 3rem 0
  }
.ads img {
  width: 60%;
  transition: opacity 0.5s ease-in-out;
}
.adsMockup {
  width: 100%;
}
/* mobile */
@media (max-width: 820px){
  .logoInner {
    flex-wrap: wrap;
  }
}